name: Build Mac App

on: [push] 

jobs:
  build:
    runs-on: macos-latest 
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' 

- name: Install Dependencies
      run: |
        pip install -r requirements.txt
        # Wir sagen spotdl, es soll ffmpeg direkt hierher installieren
        spotdl --download-ffmpeg .

    - name: Build with PyInstaller
      run: |
        # Auf Mac heißt die Datei nach dem Download einfach 'ffmpeg'
        # Wir stellen sicher, dass sie ausführbar ist
        chmod +x ffmpeg
        
        # Build-Befehl mit Doppelpunkt für Mac
        pyinstaller --noconfirm --onefile --windowed --add-binary "ffmpeg:." --name "Musik_Lader_Mac" musik_downloader.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Musik_Lader_MacOS
        path: dist/Musik_Lader_Mac
